* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    z-index: 999;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    max-width: 1600px;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: white;
    font-family: 1.3rem;
    font-weight: 500;
    margin-top: 5px;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
    display: flex;
    text-align: center;
    justify-content: center;
}

.navbar-container .navbar-menu li a:hover {
    color: black;
    background-color: white;
    border: 2px solid red;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

@media (max-width:880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 70vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        backdrop-filter: blur(10px);
        background-color: black;
        z-index: 998;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    margin: 30px;
}

.text {
    padding-top: 50px;
}

.carousel-inner {
    direction: ltr;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    left: 50px;
    top: 50%;
    text-align: left;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.carousel-caption .btn-custom {
    background-color: black;
    color: wheat;
    font-weight: 600;
}

.carousel-caption .btn-custom:hover {
    background-color: white;
    color: black;
    border: 2px solid red;
    cursor: pointer;
}

@media (max-width:880px) {
    .carousel-item img {
        height: 50vh;
    }

    .carousel-caption {
        left: 20px;
        top: 55%;
    }

    .carousel-caption h1 {
        font-size: 1.8rem;
    }
}

@media (max-width:570px) {
    .carousel-item img {
        height: 30vh;
    }

    .carousel-caption h1 {
        font-size: 1.5rem;
    }
}


.back {
    background-color: #111;
    color: #fff;
}

.bike-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bike-img {
    max-width: 90%;
    transition: 0.4s ease;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.nav-tabs .nav-link {
    color: #777;
    font-size: 20px;
}

.nav-tabs .nav-link.active {
    color: #fff;
    border-color: red;
    background: transparent;
}

.know-more {
    color: red;
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}

.nav-btn {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.nav-btn .btn1 {
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold
}

.nav-btn .btn2 {
    color: yellow;
    border: 2px solid #fff;
    font-weight: bold
}

@media (max-width:880px) {
    .bike-section {
        height: 30vh;
    }

    .nav-btn .btn1,
    .btn2 {
        font-weight: 50;
        font-size: 15px;
    }

    .know-more {
        color: red;
        margin-top: 1px;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
    }

}


#moto {
    background: #111;
    padding-top: 50px;
    background-size: cover;
}

.mc-card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    bottom: 20px;
    margin: 20px;
}

.mc-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.mc-img:hover .mc-img {
    transform: scale(1.1);
}

.mc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    background: linear-gradient(top right, rbga(0, 0, 0, 0.7), transparent);
}

.mc-number {
    position: absolute;
    bottom: 55px;
    left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    border-bottom: 2px solid #fff;
    width: 90%;
}

.mc-title {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
    z-index: 2;
}




.ride-card {
    position: relative;
    overflow: hidden;
}

.ride-card img {
    width: 100%;
    object-fit: cover;
    height: 420px;
}

.top img {
    height: 200px;
}

.bottom img {
    height: 200px;
}

.ride-text {
    position: absolute;
    bottom: 15px;
    left: 28px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
}



#service {
    background-color: rgb(44, 38, 38);

}

.con {
    position: relative;
}

.ser1 {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.service-content {
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.service-col1 {
    position: absolute;
    padding-left: 50px;
    top: 150px;
    z-index: 2;
    color: #fff;
}

.service-col2 {
    position: absolute;
    top: 150px;
    padding-left: 50%;
    width: 100%;
    color: #fff;
}

.location input {
    width: 500px;
    background-color: black;
    color: #cebaba;
    border: 2px solid black;
    height: 50px;
    padding-left: 20px;
}

.bt1,
.bt2,
.bt3 {
    background-color: rgb(46, 45, 45);
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}

.search h4 {
    margin-top: 15px;
}

@media (max-width:880px) {
    .ser1 {
        height: 90vh;
    }

    .service-content {
        top: 1px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        left: 0px;
    }

    .service-col1 {
        padding-left: 50px;
        top: 90px;
        z-index: 2;
        color: #fff;
    }

    .service-col2 {
        color: #fff;
        display: flex;
        margin-top: 90px;
        margin-left: -200px;
        flex-direction: column;
    }

    .location input {
        width: 200px;
        background-color: black;
        color: #cebaba;
        border: 2px solid black;
        height: 50px;
        padding-left: 20px;
        font-size: 10px;
    }

    .bt1,
    .bt2,
    .bt3 {
        align-items: center;
        justify-content: space-around;
        background-color: rgb(46, 45, 45);
        color: #fff;
        font-size: 10px;
    }
}




.footer {
    background: #000;
    color: #fff;
    padding: 60px 40px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {
    flex: 1 1 230px;
}

.footer-col h3 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 7px 0;
}

.footer-col a {
    color: #fff;
    text-decoration: none;
}

.footer-col a:hover {
    color: #ccc;
}


.footer-btn {
    display: block;
    padding: 18px;
    border: 1px solid #444;
    margin: 10px 0 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.footer-btn:hover {
    background: #222;
}

.newsletter-box {
    display: flex;
    margin: 15px 0;
}

.newsletter-box input {
    flex: 1;
    padding: 12px;
    border: 1px solid #444;
    background: #111;
    color: #fff;
}

.newsletter-box button {
    width: 50px;
    border: none;
    background: #444;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.newsletter-box button:hover {
    background: #666;
}


.checkbox {
    display: flex;
    gap: 6px;
    margin: 10px 0 20px;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 50px;
    padding-top: 25px;
}

.social-icons a {
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #aaa;
}

.back-top {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

.back-top:hover {
    color: #888;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}